apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    project: roboshop
    environment: dev
    tier: frontend
spec:
  # modify replicas according to your case
  replicas: 2
  selector:
    matchLabels:
      project: roboshop
      environment: dev
      tier: frontend
  template:
    metadata:
      labels:
        project: roboshop
        environment: dev
        tier: frontend
    spec:
      containers:
      - name: nginx
        image: nginx
---
apiVersion: v1
kind: Service
metadata:
  name: loadbalancer-service
  labels:
    project: roboshop
    environment: dev
    tier: frontend
spec:
  selector:   # Selects Pods with the label 'project: roboshop, environment: dev, tier: frontend'
    project: roboshop
    environment: dev
    tier: frontend      
  ports:
    - protocol: TCP
      port: 80        # The port the Service itself exposes
      targetPort: 80 # container port
  type: LoadBalancer
